name: minigamesparty
description: Play games without internet

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.0

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # Engine
  flame: ^0.27.0
  # UI
  material_design_icons_flutter: ^4.0.5755
  flutter_slidable: ^0.5.7
  convex_bottom_bar: ^2.6.0
  responsive_grid: ^1.2.1+1
  # Communication
  flutter_reactive_ble: ^2.6.1
  socket_io_client: ^0.9.11
  # Database
  hive: ^1.4.4+1
  hive_flutter: ^0.3.1
  # Generation
  barcode: ^1.17.1
  flutter_modular: ^2.0.1
  webfeed: ^0.6.0
  # Internal
  flutter_bloc: ^6.0.6
  get_it: ^5.0.1
  url_launcher: ^5.7.8
  url_launcher_web: ^0.1.5
  # Information
  enum_to_string: ^1.0.13
  http: ^0.12.2
  package_info: ^0.4.3
  path_provider: ^1.6.22
  path_provider_windows: ^0.0.4+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.3
  hive_generator: ^0.8.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - lang/
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
