[Desktop Entry]
Name=Linwood Quokka
Comment=Play games everywhere you like 
Exec=quokka %f
Icon=dev.linwood.quokka
Terminal=false
Type=Application
Categories=Game;
