[Desktop Entry]
Name=Linwood Qeck
Comment=Play games everywhere you like 
Exec=qeck %f
Icon=dev.linwood.qeck
Terminal=false
Type=Application
Categories=Game;
