[Desktop Entry]
Name=Linwood Town
Comment=Opensource collection of small games
Exec=butterfly
Icon=${SNAP}/meta/gui/town.png # replace name to your app name
Terminal=false
Type=Application
Categories=Games; #adjust accordingly your snap category
