[Desktop Entry]
Name=Linwood Qeck
Comment=Opensource collection of small games
Exec=butterfly
Icon=${SNAP}/meta/gui/qeck.png # replace name to your app name
Terminal=false
Type=Application
Categories=Games; #adjust accordingly your snap category
