[Desktop Entry]
Name=Linwood Qeck
Comment=Play games everywhere you like 
Exec=/usr/bin/linwood-qeck %f
Icon=/usr/share/linwood-qeck/data/flutter_assets/images/logo.svg
Terminal=false
Type=Application
Categories=Game;
