Package: linwood-setonix
Version: 0.1.2
Section: base
Priority: optional
Homepage: https://github.com/LinwoodDev/Setonix
Architecture: amd64
Maintainer: Linwood <contact@linwood.dev>
Description: Linwood Setonix
  Play games everywhere you like
